[user]
	name = Danilo Bargen
	email = mail@dbrgn.ch
[color]
	ui = true
[github]
	user = dbrgn
[alias]
	lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative
	wdiff = diff --color-words
	safemerge = merge --ff-only
	unstage = reset HEAD --
    branchlist = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	git = !cd "$GIT_PREFIX" && git
	s = status
	c = commit
	d = diff
	a = add
	m = merge
	sm = merge --ff-only
	pu = push
	pl = pull
	co = checkout
	rebse = rebase
	comit = commit
[pager]
	color = true
[push]
	default = simple
[rebase]
	autosquash = true
[core]
	pager = less -x1,5
	excludesfile = ~/.gitignore
[submodule]
	recurse = true
[pull]
	ff = only
[init]
	defaultBranch = main
