[submodule ".vim/bundle/jedi"]
	path = .vim/bundle/jedi
	url = https://github.com/davidhalter/jedi.git
[submodule ".vim/bundle/vim-latex"]
	path = .vim/bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/lunaru/vim-less.git
[submodule ".vim/bundle/rope-vim"]
	path = .vim/bundle/rope-vim
	url = https://github.com/sontek/rope-vim.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/pydoc"]
	path = .vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = git://github.com/nvie/vim-flake8.git
