set $monitor1 'Dell Inc. DELL U2724DE DZ4FCP3'
set $monitor2 'Dell Inc. DELL P2720D FNBYS03'

output $monitor0 {
    pos 0 1800
}
output $monitor1 {
    pos 1920 530
}
output $monitor2 {
    # 1920 + 2560
    pos 4480 0
    transform 90
}

workspace 1 output $monitor1
workspace 2 output $monitor1
workspace 3 output $monitor1
workspace 4 output $monitor1
workspace 5 output $monitor1
workspace 6 output $monitor1
workspace 7 output $monitor1
workspace 8 output $monitor2
workspace 9 output $monitor2
workspace 10 output $monitor2
workspace z output $monitor2
workspace u output $monitor2
workspace i output $monitor2
workspace o output $monitor2
