set $monitor1 'Dell Inc. DELL U2723QE BWNDF34'
set $monitor2 'Dell Inc. DELL U2723QE 5KH9C34'

output $monitor0 {
    pos 0 1800
}
output $monitor1 {
    pos 1920 530
    scale 1.25
}
output $monitor2 {
    # 1920 + (3840/1.25)
    pos 4992 0
    transform 90
    scale 1.25
}

workspace 1 output $monitor1
workspace 2 output $monitor1
workspace 3 output $monitor1
workspace 4 output $monitor1
workspace 5 output $monitor1
workspace 6 output $monitor1
workspace 7 output $monitor1
workspace 8 output $monitor2
workspace 9 output $monitor2
workspace 10 output $monitor2
workspace z output $monitor2
workspace u output $monitor2
workspace i output $monitor2
workspace o output $monitor2
