snippet compat "Compatibility future imports" b
from __future__ import print_function, division, absolute_import, unicode_literals
endsnippet

snippet ipdb "Set ipdb breakpoint" b
import ipdb; ipdb.set_trace()
endsnippet

snippet cutf8 "Encoding: UTF8" b
# -*- coding: utf-8 -*-
endsnippet

snippet pprint "Import and use pprint" b
from pprint import pprint; pprint($1)
endsnippet
