snippet compat "Compatibility future imports" b
from __future__ import print_function, division, absolute_import, unicode_literals
endsnippet

snippet ipdb "Set ipdb breakpoint" b
import ipdb; ipdb.set_trace()
endsnippet
