snippet tt "Monospace text" w
\texttt{$0}
endsnippet

snippet it "Italic text" w
\textit{$0}
endsnippet

snippet bf "Bold text" w
\textbf{$0}
endsnippet

snippet beg "Begin/end environment" w
\begin{$1}
$0
\end{$1}
endsnippet

snippet fn "Footnote" i
\footnote{$0}
endsnippet

snippet fnurl "Footnote with URL" i
\footnote{\url{$0}}
endsnippet
