[Unit]
Description=Lock the screen on resume from sleep

[Service]
Type=simple
User=danilo
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/slock

[Install]
WantedBy=sleep.target
