[Unit]
Description=WM name setter
Requires=graphical.target
After=graphical.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/danilo/.Xauthority
ExecStart=/usr/bin/wmname LG3D

[Install]
WantedBy=graphical.target
