[Unit]
Description=Lock the screen automatically after a timeout.

[Service]
Type=simple
User=danilo
Environment=DISPLAY=:0
ExecStart=/usr/bin/xautolock -time 10 -locker slock -detectsleep

[Install]
WantedBy=graphical.target
