[Unit]
Description=Set the xkbmap to Swiss German.

[Service]
User=danilo
Environment=DISPLAY=:0
ExecStart=/usr/bin/setxkbmap ch

[Install]
WantedBy=resume.target
